/* backgdr-col #E5E5E5, #F5F4FA;
backgdr-col head #fff
цвет осн текста #757575
active col #2196F3
фон героя и футера #2F303A
фон сеекции #F5F4FA 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
bold = 700
normal = 400
container(Studio) wigth 1700+30px
pading l+r = 15px

*/
/* ------- */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-btn-color: #f5f4fa;
  --main-light-color: #ffffff;
  --primary-bg-color: #2f303a;
  --logo-text-color: #000000;
  --border-line-color: #eeeeee;
}
body {
  color: var(--primary-text-color);
  background-color: var(--main-light-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}
.list {
  list-style: none;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
}
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus,
.nav-link.current,
.logo-part {
  color: var(--accent-color);
}
.color {
  color: var(--title-text-color);
}
.filter-btn:hover,
.filter-btn:focus,
.hero-btn {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}
.btn {
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}
/* header */
.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.header-logo {
  color: var(--logo-text-color);
}
.nav-link,
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-link {
  color: inherit;
}

/* Hero  */
.hero,
.footer {
  background-color: var(--primary-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  color: var(--main-light-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Benefits */
.benefits-subtitle {
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

/* Our-team */
.our-team {
  background: var(--first-btn-color);
}
.team-positions,
.team-name {
  line-height: 1.18;
  font-size: 16px;
}
.team-name {
  font-weight: 700;
}
/* filter */
.filter-btn {
  background: var(--first-btn-color);
  line-height: 1.6;
  font-weight: 500;
  font-size: 16px;
}
.btn-current {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}
/* Portfolio */
.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item {
  border: 1px solid #eeeeee;
}

.portfolio-link {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}
.portfolio-info {
  font-size: 16px;
  line-height: 1.8;
}
.portfolio-list {
  background: var(--main-light-color);
  border: 1px solid var(--border-line-color);
}
/* Footer */
.address-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo,
.address-link.map {
  color: var(--main-light-color);
}
.footer-logo,
.address-link.map,
.address-link,
.footer-address {
  text-decoration: none;
  font-style: inherit;
}
